.advantages {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #000;
	@media @mobile {
		width: 320px;
		margin: auto;
	}
	&__slider {
display: block;
	}
	&__slider-inner {
	
	}
	&__item {
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&-title {
		font-size: 30px;
		font-weight: bold;
		}
		&-description {
			font-size: 20px;
		}
	}
}